@font-face {
    font-family: BPG;
    src: url('../fonts/bpg_nino_mtavruli_bold.ttf');
}

*{
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}

body{
    margin: 0;
}

/* div{
    display: inline-block;
    background-color: red;
   
} */

.bggreen{
    background-color: greenyellow;
}

/* ul{
    display: inline-block;
    margin: auto;
} */

.navbar li:hover{
 background-color: blue;
} 

.navbar{
    background-color: cornflowerblue;
}

.navbar :where(li)  {
  padding: 23px 15px;
  display: inline-block;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.d-none{
    display: none;
}

.dropdown a{
 display: block;
}

.dropdown {
    display: none;
}

.navbar li:hover .dropdown {
    display: block;
} 

.row{
    display: flex;
    width: 1200px;
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

.col{
    width: 33.3333333%;
    padding:0 7px;
    margin-bottom: 14px;
   
}

.col img{
    width: 100%;
}

.card{
      border :1px solid  green;
}

.col-7{
    width: 70%;
    background-color: blue;
}

.col-3{
    background-color: red;
    width: 30%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.grid{
    width: 33.33333%;
    padding: 7px;
}

.color{
    background-color: rgb(0, 255, 162);
    height: 350px;
}

header{
    background-image: url('../img/myimg.webp');
    background-position: center;
    background-size: cover;
    height: 550px;
    /* display: flex;
    flex-direction: row-reverse;
    gap: 25px; */
    /* align-items: center; ვერტიკალური განლაგება */
   /* justify-content: center;  ჰორიზონტალური განლაგება */
}
 

nav{
    background-color: #fff;
    box-shadow: 7px 15px 21px #0000004f;

}

.mynavbar{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    max-width: 100%;
}

.mynavbar ul li {
    display: inline-block;
}

.mynavbar img {
    width: 100px;
}


.mynavbar ul li a{
    color: #1b161e;
    font-family: BPG;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
    margin-top: 10px;
    display: block;
   
}

.textbox{
    width: 1200px;
    margin: auto;
    max-width: 100%;
    font-family: BPG;
    margin-top: 50px;
   
   
}

.txt{ 
    padding: 50px;
    color: #fff;
    width:60% ;
    border-radius: 7px;
    background-color: #ffffff4f;
}

.txt a {
    text-decoration: 0;
    font-size: 12px;
    background-color: crimson;
    color: #fff;
    padding: 14px 25px;
    display: block;
    width: fit-content;
    border-radius: 7px;
    margin-top: 14px;
}

.pe-5{
    padding-right: 25px;
}

.inlfel{
    display:  flex;
}

.contents{
    display: flex;
    height: 450px;
    justify-content: center;
    background-color: aqua;
}
 